*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #ffe09d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: small;

    
}
body{
    background-color: #4c2930
}
.container{
    background-color: #4c2930;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
.card{
    background-color: #f16358;
    width: 20vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 35px;
    
}
input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(231, 233, 232);
    
}

.arroz{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f16358;
    width: 40vw;
    height: 50vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 10px;
    gap: 20px;

    
}
button{
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(70, 236, 134);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.remover{
    background-color: rgb(241, 16, 16);
    color: bisque;
    justify-content: space-between;
    margin-left: 15px;
}
#logo-principal{
    width: 150px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

